saved_img.jpg
output.mp3
trying/translated_audio.mp3
.idea/
.venv/
env/
env3_10/
FINAL/Online Final/ca.pem
*env*/
ch_ppocr_mobile_v2.0_cls_infer/
ch_PP-OCRv3_rec_infer/
ch_PP-OCRv3_det_infer/
en_PP-OCRv3_rec_infer/
en_PP-OCRv3_det_infer/

